* {
  margin: 0;
  padding: 0;
}

.animeImage {
  width: 250px;
  height: 400px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

li {
  max-width: 350px;
}

.heart {
  margin-left: 15px;
  background-color: white;
  cursor: pointer;
  border: none;
}

.like {
  color: red;
}

.commentBox {
  padding: 0.25em 0.5em;
  width: 100px;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.commentBox:active {
  box-shadow: 0 0 0 0;
  top: 5px;
  left: 5px;
}

.footer {
  border-top: 1px black solid;
}

.divElement {
  display: flex;
  justify-content: space-between;
}

.fa-heart {
  color: red;
}

a {
  text-decoration: none;
}

.header {
  /* position: relative; */
  border-bottom: 50px dotted black;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
}

.logoimage {
  width: 250px;
  height: 140px;
  margin-bottom: 15px;
}

nav a {
  color: brown;
}

nav a:hover {
  color: brown;
  font-weight: bold;
}

.welcome {
  background-image: url('./back.PNG');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
}

.everything {
  letter-spacing: 0.2rem;
}

.moana {
  background-image: url('./mulan.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mulan {
  background-image: url('./moana.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.from-text {
  letter-spacing: 0.3rem;
}

.characters {
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 550px) {
  .logoimage {
    width: 170px;
    height: auto;
  }
}

@media screen and (min-width: 1250px) {
  .header {
    position: relative;
  }

  .mulan {
    position: absolute;
    top: 240px;
    right: 21%;
  }

  .moana {
    position: absolute;
    top: 240px;
    left: 21%;
  }

  .everything {
    position: absolute;
    top: 47%;
    left: 40%;
  }

  .connector {
    position: absolute;
    top: 240px;
    left: 49%;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.2rem;
  }
}
